# Worksheet 1A: Lists and List Operations
This worksheet corresponds to *Lesson 1A: Lists and List Operations* in the online course. Refer to that lesson as necessary to complete the practice exercises here.

## Practice 1
Create a list that contains  the following information (in this specific order):	
* Your first name 	
* Your last name	
* Your age	
* The average number of miles you travel to work every day (round trip)

In [2]:
my_list = ["Lucy", "Browne", 29, 0]
my_list

['Lucy', 'Browne', 29, 0]

## Practice 2
Modify the list definition (add or remove elements) so the `print` command displays `True`.

In [3]:
list_of_strings = ["Kate", "Jennifer", "Mike", "Bob", "James"]

# do not change the following code
test = len(list_of_strings) == 5 # check that the size of the list is equal to 5
print(test)

True

## Practice 3a
Update the following code to display only the first character of each name in the list of names.

**Tip**: Review the use of index values in strings.

In [6]:
list_of_strings = ["Kate", "Jennifer", "Mike"]
person_1 = list_of_strings[0][0] # access the first element of the list
print(person_1)

person_2 = list_of_strings[1][0] # access the second element of the list
print(person_2)

person_3 = list_of_strings[2][0] # access the third (and last) element of the list
print(person_3)

K
J
M

## Practice 3b
When we use the `split` function on a string that contains multiple words, Python creates a list that includes each word in the string as a separate item in the list.

Create a script that performs the following steps:	
1. Prompt the user for their name in the format: "last_name, first_name".	
1. Use the `split` function to separate the names in the input string.	
1. Store each name in its own variable.	
1. Display the first name to the user with an appropriate feedback message.	
1. Display the last name to the user without the comma and with an appropriate feedback message.	

**Challenge**: Allow the user to enter their name using any case. Display each name with only the first letter capitalized, regardless of the case used to enter the name.

In [16]:
name = "Browne, Lucy"
list = name.split(", ")
first_name = list[1]
last_name = list[0]
print("first name:",first_name,"\nlast name:",last_name)

first name: Lucy
last name: Browne

In [17]:
name = "BROWNE, lucy"
list = name.split(", ")
first_name = list[1].capitalize()
last_name = list[0].capitalize()
print("first name:",first_name,"\nlast name:",last_name)

first name: Lucy
last name: Browne

In [18]:
name = "BROWNE, lucy"
list = name.split(", ")
first_name = list[1][0].upper()+list[1][1:].lower()
last_name = list[0][0].upper()+list[0][1:].lower()
print("first name:",first_name,"\nlast name:",last_name)

first name: Lucy
last name: Browne

## Practice 4
Fix the following code so each of the `print` lines displays the expected data.

In [20]:
# do not change the first line
info = ["John", "Smith", "123 East Main Street", "Boston", "Junior Software Developer"]

# change the index values in the output statements
print("First name: " + info[0])
print("Last name: " + info[1])
print("Address: " + info[2])
print("City: " + info[3])
print("Profession: " + info[-1])

First name: John
Last name: Smith
Address: 123 East Main Street
City: Boston
Profession: Junior Software Developer

## Practice 5a
Using the code below as a starting point, update the slicing code for `team_1` and `team_3` **without** referencing both index values. The output should not change.

In [22]:
list_of_names = ["John", "Mike", "Serena", "Jennifer", "Abby", "Lisa"]
print(list_of_names)

team_1 = list_of_names[:2] #use slicing to retrieve the first two elements
print("The first team is:")
print(team_1)

team_2 = list_of_names[2:4] #use slicing to retrieve the middle two elements
print("The second team is:")
print(team_2)

team_3 = list_of_names[4:] #use slicing to retrieve the last two elements
print("The third team is:")
print(team_3)

['John', 'Mike', 'Serena', 'Jennifer', 'Abby', 'Lisa']
The first team is:
['John', 'Mike']
The second team is:
['Serena', 'Jennifer']
The third team is:
['Abby', 'Lisa']

## Practice 5b
The list below contains the abbreviations for all states in the USA.

Use slicing to create three new lists:	
* One list that contains all states that start with M	
* One list that contains all states that start with W	
* One list that contains all states that start with V

In [23]:
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]
# continue code here
states_M = states[18:26]
print(states_M)
states_W = states[-4:]
print(states_W)
states_V = states[-6:-4]
print(states_V)

['ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT']
['WA', 'WV', 'WI', 'WY']
['VT', 'VA']

## Practice 6
Using the `append` method, add  the following information in this specific order: 	
* Your first name 	
* Your last name	
* Your age	
* The average number of miles you travel to work every day (round trip)

In [24]:
info = []  # the info list is initially empty
# continue code here
info.append("Lucy")
info.append("Browne")
info.append("29")
info.append(0)
info

['Lucy', 'Browne', '29', 0]

## Practice 7
Use the `insert` method to add the appropriate information to the list and then update the `print` statements so the data is displayed correctly. Use any random address.	

**Hint**: You will need to add the address to `info` at the appropriate index.

In [ ]:
info = ["John", "Smith", "Boston", "Junior Software Developer"]
#your code goes here 
info.insert(3,"Bob Street")

#this code should be executed last 
print("First name: " + info[0])
print("Last name: " + info[1])
print("Address: " + info[3])
print("City: " + info[2])
print("Profession: " + info[-1])

## Practice 8
Use the `remove` method in the code below to delete all duplicate values in the list. 

Each value in the original list should be included exactly one time in the final version of the list.

In [3]:
input_list = ["Haythem", "Mike", 1, "Layla", "Livia", "Layla", 2, 1, 2, 3, "Mike", "Jesse", "Haythem"]

# your code here 
input_list.remove("Haythem")
input_list.remove("Mike")
input_list.remove(1)
input_list.remove("Layla")
input_list.remove(2)

In [4]:
input_list

['Livia', 'Layla', 1, 2, 3, 'Mike', 'Jesse', 'Haythem']

## Practice 9
Create code below that performs the following steps: 	
* Concatenate the three lists. 	
* Use the `remove` method to delete all the negative numbers from the new list.

In [5]:
list_1 = [1,-1,4,6]
list_2 = [0,1,67,-98]
list_3 = [45,65,2,-54,-434]

# your code here 
list_4 = list_1+list_2+list_3
print(list_4)

[1, -1, 4, 6, 0, 1, 67, -98, 45, 65, 2, -54, -434]

In [7]:
for num in list_4.copy():
    if num < 0:
        list_4.remove(num)
print(list_4)

[1, 4, 6, 0, 1, 67, 45, 65, 2]